[submodule "libraries/squid-logger-nodejs"]
	path = libraries/squid-logger-nodejs
	url = git@github.com:squidit/squid-logger-nodejs.git
[submodule "libraries/squid-tracer-nodejs"]
	path = libraries/squid-tracer-nodejs
	url = git@github.com:squidit/squid-tracer-nodejs.git
[submodule "libraries/squid-metrics-nodejs"]
	path = libraries/squid-metrics-nodejs
	url = git@github.com:squidit/squid-metrics-nodejs.git
